<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Klasifikasi Chat SPAM</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{url_for('static',filename='assets')}}/img/favicon.png" rel="icon">
    <link href="{{url_for('static',filename='assets')}}/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{{url_for('static',filename='assets')}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{url_for('static',filename='assets')}}/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="{{url_for('static',filename='assets')}}/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="{{url_for('static',filename='assets')}}/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="{{url_for('static',filename='assets')}}/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="{{url_for('static',filename='assets')}}/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{url_for('static',filename='assets')}}/css/style.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Tempo - v4.9.0
  * Template URL: https://bootstrapmade.com/tempo-free-onepage-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">

            <h1 class="logo"><a href="index.html">Klasifikasi CHAT SPAM</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo"><img src="{{url_for('static',filename='assets')}}/img/logo.png" alt="" class="img-fluid"></a> -->

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="#about">SVM</a></li>
                    <li><a class="nav-link scrollto" href="#services">Pesan Penipuan</a></li>
                    <li><a class="nav-link scrollto " href="#portfolio">Dataset</a></li>


                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container">
            <h3>Silahkan Masukkan Contoh Chat</h3>
            <form action="" method="post">

                <input class="form-control" type="text" size="50" name="pesan" required>
                <br>
                <button href="#about" class="btn-get-started scrollto text-dark" type="submit">Predict</button>
            </form>
            <br>
            {%if hasil == "CHAT PROMOSI" %}
            <h3 class="bg-indo">{{hasil}}</h3>
            {%elif hasil == "CHAT PORNOGRAFI"%}
            <h3 class="bg-danger">{{hasil}}</h3>
            {%elif hasil == "CHAT PENIPUAN"%}
            <h3 class="bg-warning">{{hasil}}</h3>
            {%else%}
            {%endif%}
            


        </div>
    </section><!-- End Hero -->



    <main id="main">
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container">

                <div class="section-title">
                    <h2>SVM</h2>
                    <h3>Support Vector Machine <span>(SVM)</span></h3>
                    <p>Pada dasarnya, support-vector machine merupakan sebuah algoritma klasifikasi untuk data linear dan non-linear. SVM menggunakan mapping non-linear untuk mentransformasikan training data awal ke dimensi yang lebih tinggi.</p>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            SVM dapat digunakan untuk memecahkan berbagai masalah dunia nyata:
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> SVM sangat membantu dalam kategorisasi teks dan hiperteks , karena aplikasinya dapat secara signifikan mengurangi kebutuhan untuk instans pelatihan berlabel baik dalam pengaturan induktif dan transduktif standar. Beberapa metode untuk parsing semantik dangkal didasarkan pada mesin vektor dukungan</li>
                            <li><i class="ri-check-double-line"></i>Klasifikasi data satelit seperti data SAR menggunakan SVM terawasi</li>
                            <li><i class="ri-check-double-line"></i> Karakter tulisan tangan dapat dikenali menggunakan SVM</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            Untuk melihat dokumentasi lebih lanjut, klik link dibawah.
                        </p>
                        <a href="https://en.wikipedia.org/wiki/Support_vector_machine" class="btn-learn-more">Learn More</a>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Pesan Penipuan</h2>
                    <h3>Indikasi Chat <span>Penipuan</span></h3>
                    <p>Pesan Penipuan sangat mudah dikenali, ada beberapa modus pesan penipuan, sebagai berikut :</p>
                </div>

                <div class="row">
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-medium"></i></div>
                            <h4 class="title"><a href="">Modus Mengaku Anggota Keluarga</a></h4>
                            <p class="description font-italic">"De inih bapa pake no temen, tolong kirimin pulsa ke no
                                inih soalnya penring banget, nanti di rumah digantiin"</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-medium"></i></div>
                            <h4 class="title"><a href="">Modus Menang Undian</a></h4>
                            <p class="description">"Bpk/Ibu Mengenai Rekening Anda Terpilih Sebagai Pemenang Cek 35jt Dri
                                BNI U/Info klik www.promobni46.tk Kode Cek 03299757 Hub.085288991559"</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-medium"></i></div>
                            <h4 class="title"><a href="">Modus Tawaran Kerja</a></h4>
                            <p class="description">"Kesempatan jadi AGEN PULSA MKIOS ALL Operator harga V5=4500,
                                V10=8500, V20=18rb, V25=23rb, V50=45rb, V100=90rb Cara Ketik Daftar kirim ke
                                087888366677"</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="bx bxl-medium"></i></div>
                            <h4 class="title"><a href="">Modus Tawaran Investasi</a></h4>
                            <p class="description">"Usaha tidak menghianati hasil yang kemauan jalan buat teman ragu investasi hasilnya terbukti nyata terimakasih kak hasil cairkan"</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Services Section -->



        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio">
            <div class="container">

                <div class="section-title">
                    <h2>Dataset</h2>
                    <h3>DATASET CHAT SPAM TELEGRAM</h3>
                    <p>Dataset berjumlah 100 Data</p>
                </div>
                <div class="row">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                
                                <th scope="col" class="text-center">Pesan</th>
                                <th scope="col">Label</th>

                            </tr>
                        </thead>
                        <tbody>
                            {%for i in data %}
                            <tr>
                                
                                <td>{{i[0]}}</td>
                                <td class="text-center">{{i[1]}}</td>

                            </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                </div>


            </div>
        </section><!-- End Portfolio Section -->





    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <!-- 
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>
    -->

    <!-- Vendor JS Files -->
    <script src="{{url_for('static',filename='assets')}}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="{{url_for('static',filename='assets')}}/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="{{url_for('static',filename='assets')}}/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="{{url_for('static',filename='assets')}}/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="{{url_for('static',filename='assets')}}/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="{{url_for('static',filename='assets')}}/js/main.js"></script>

</body>

</html>